@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500&family=Playfair+Display:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Lato', sans-serif;
  background-color: #103B35;
  color: #F8F8F8;
}
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}
